DJANGO_SECRET_KEY=django-insecure-5823+ivzrfpd-tu^%i%h9ox))!xf!po+pfv-0(@@xp^dg1s1rd
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=agriculture
POSTGRES_USER=agriculture_user
POSTGRES_PASSWORD=replace-with-strong-db-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DRIVER=psycopg2
POSTGRES_CONN_MAX_AGE=60
POSTGRES_SSLMODE=
JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7

# HIBP (Pwned Passwords) configuration
HIBP_ENABLED=false
HIBP_API_URL=https://api.pwnedpasswords.com/range/
HIBP_USER_AGENT=AgricultureBackend/1.0
HIBP_TIMEOUT_SECONDS=4
HIBP_MIN_BREACH_COUNT=1
HIBP_FAIL_CLOSED=true

# Django-Q (async workers)
Q_CLUSTER_NAME=agri-backend
Q_CLUSTER_WORKERS=4
Q_CLUSTER_RECYCLE=500
Q_CLUSTER_TIMEOUT=300
Q_CLUSTER_RETRY=300
Q_CLUSTER_QUEUE_LIMIT=50
Q_CLUSTER_BULK=10
Q_CLUSTER_SYNC=false
