DJANGO_SECRET_KEY=django-insecure-5823+ivzrfpd-tu^%i%h9ox))!xf!po+pfv-0(@@xp^dg1s1rd
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=agriculture
POSTGRES_USER=agriculture_user
POSTGRES_PASSWORD=replace-with-strong-db-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DRIVER=psycopg2
POSTGRES_CONN_MAX_AGE=60
POSTGRES_SSLMODE=
JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7
